@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('./variables.css');

html,
body {
  display: block;
  height: 100%;
  overflow: hidden auto;
  font-family: 'Open Sans';
  letter-spacing: -0.03em;
  outline: none !important;
  user-select: none !important;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
  font-size: 15px;
  box-shadow: none !important;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='text']:disabled,
input[type='email']:disabled,
input[type='password']:disabled,
input[type='date']:disabled {
  background: #f6f5f5;
  border: 0.5px solid #dcdcdc;
  border-radius: 3px !important;
  outline: none;
  color: #626264;
}

.close {
  outline: none !important;
}

.btn {
  font-size: 15px;
  box-shadow: none !important;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:disabled,
.btn-secondary:hover {
  background-color: var(--secondary) !important;
  border-color: var(--secondary);
}
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.box {
  background: #fff;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  padding: 50px;
}

.title-form-checkout {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--primary);
  padding-bottom: 5px;
}

.amount-total {
  font-size: 18px;
  font-weight: 700;
  color: #182135;
}

.container-bag {
  display: flex;
  justify-content: flex-end;
}

.box-bag {
  width: 500px;
  max-height: 600px;
  background: #fff;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 35px;
  overflow: hidden auto;
}

.label-count-bag {
  font-size: 17px;
  color: #182135;
}

.box-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.box-product img {
  width: 69px;
  height: 83px;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  margin-right: 14px;
}

.box-product .amount {
  width: fit-content;
  background: rgba(80, 62, 157, 0.1);
  color: #503e9d;
  padding: 2px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

.box-product .product-description-bag {
  font-size: 14px;
}

.box-product .product-remove-bag {
  width: 40px;
  height: 40px;
  background: var(--secondary);
  border-color: var(--secondary);
  border-style: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50%;
  outline: none !important;
  margin-left: 14px;
  text-align: center;
  vertical-align: middle;
}

.box-product .product-remove-bag:active {
  background: var(--secondary-active) !important;
  border-color: var(--secondary-active) !important;
}

.box-product .product-remove-bag:hover {
  background: var(--secondary-hover);
  border-color: var(--secondary-hover);
}

.title-company {
  margin: 12px 0px;
}

.info-company {
  margin: 8px 0px;
}

.info-company span {
  color: #626264;
}

.free-shipping {
  background: rgba(80, 62, 157, 0.1);
  color: #503e9d;
  text-align: center;
  width: 100px;
  padding: 3px 0px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
}

.box-grid-product {
  width: 253px;
  height: 360px;
  margin: 0px 20px 80px 20px;
}

.box-grid-product-img {
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.box-grid-product-img img {
  display: none;
}

.box-grid-product-img img.active {
  display: block;
}

.box-grid-product:hover .product-quickview,
.box-grid-product:hover .btn-prev {
  left: 0px;
  transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
}

.box-grid-product:hover .btn-next {
  right: 0px;
  transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
}

.product-quickview {
  position: absolute;
  left: -60px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 6px;
  background-color: rgb(65, 88, 88);
  color: #fff;
  border: none;
  font-size: 28px;
  line-height: 2;
  text-align: center;
  outline: none !important;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
}

.btn-add-product {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 6px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  font-size: 28px;
  outline: none !important;
  box-shadow: -1px -1px 5px 0px rgba(0, 0, 0, 0.4);
}

.btn-add-product:active {
  background-color: var(--primary-active) !important;
}
.btn-add-product:hover {
  background-color: var(--primary-hover);
}
.product-quickview:active {
  background-color: rgb(81, 110, 110) !important;
}
.product-quickview:hover {
  background-color: rgb(44, 66, 66);
}

.product-sales {
  position: absolute;
  top: 0px;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 14px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.product-new {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 14px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.box-grid-product .amount {
  width: fit-content;
  background: rgba(80, 62, 157, 0.1);
  color: #503e9d;
  text-align: center;
  padding: 2px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

.info-store {
  cursor: pointer;
  border: 0px solid;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.info-store:hover {
  background: #182135;
  color: #fff;
}

/* Slide */

.btn-slide {
  outline: none !important;
}

.btn-next,
.btn-prev {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}

.btn-prev {
  left: -26px;
  top: 50%;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
  transform: translateY(-50%);
  transition: left 300ms ease-in-out;
  -webkit-transition: left 300ms ease-in-out;
}

.btn-prev span {
  border: 0px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

.btn-prev:hover {
  background: rgba(0, 0, 0, 0.25);
}

.btn-next {
  right: -26px;
  top: 50%;
  width: 30px;
  height: 30px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
  transform: translateY(-50%);
  transition: right 300ms ease-in-out;
  -webkit-transition: right 300ms ease-in-out;
}

.btn-next span {
  border: 0px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

.btn-next:hover {
  background: rgba(0, 0, 0, 0.25);
}
