@import url('../../../styles/variables.css');

.container-bag {
  position: fixed;
  /* width: 100%;
  height: 100vh; */
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  /* visibility: hidden; */

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  z-index: 1100;
}

.header-cart {
  position: fixed;
  width: 500px;
  max-width: calc(100% - 30px);
  height: 100vh;
  top: 0;
  right: -500px;
  background-color: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.34;
  transition: all 0.4s;

  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.show-header-cart {
  z-index: 1100;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.show-header-cart .header-cart {
  right: 0;
}

.container-bag .btn-open-sidebar-bag {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  background: var(--primary-hover);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
  -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
  -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.32);
}

.container-bag .btn-open-sidebar-bag:hover .material-icons {
  color: rgba(0, 0, 0, 1);
}

.show-header-cart .btn-open-sidebar-bag .material-icons {
  color: rgba(0, 0, 0, 1) !important;
}

.container-bag .btn-open-sidebar-bag .material-icons {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
}

.header-cart::after {
  content: '';
  display: block;
  width: 100%;
  height: 9%;
  min-height: 30px;
}

.container-bag .header-bag {
  border-bottom: 1px solid #f6f5f5;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}

.container-bag .header-bag .close-icon-bag {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.container-bag .header-bag .close-icon-bag:hover {
  color: rgba(0, 0, 0, 1);
}

.container-bag .header-bag .total-count-product {
  font-weight: bold;
}

.container-bag .list-products-bag {
  border: 0px solid;
  padding: 0px 25px 25px 25px;
  margin: 0;
  overflow: hidden scroll;
  max-height: calc(100% - 195px);
}

.container-bag .list-products-bag .box-product {
  margin-top: 25px;
}

.container-bag .amount-bag {
  border: 0px solid;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  background: #f6f5f5;
}

.container-bag .amount-bag .cart-subtotal {
  width: fit-content;
  background: rgba(80, 62, 157, 0.1);
  color: #503e9d;
  padding: 2px 12px;
  border-radius: 4px;
  font-weight: 600;
}

.container-bag .cart-footer {
  display: flex;
  justify-content: center;
}

.container-bag .btn-clear-bag {
  width: 100%;
  border: 0px solid;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  background: #fff;
  color: #aaa;
  cursor: pointer;
  text-decoration: none;
}

.container-bag .btn-clear-bag:active {
  background: #f5f1f1 !important;
}

.container-bag .btn-clear-bag:hover {
  background: #f6f5f5;
  color: #777;
}

.container-bag .btn-checkout-bag {
  width: 100%;
  border: 0px solid;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.container-bag .btn-checkout-bag:active {
  background: var(--primary-active) !important;
}

.container-bag .btn-checkout-bag:hover {
  background: var(--primary-hover);
}
